faster-whisper==1.2.1
ctranslate2==4.8.2
nvidia-cublas-cu12==12.9.2.10; sys_platform == 'win32'
nvidia-cudnn-cu12==9.26.0.51; sys_platform == 'win32'
mlx-whisper==0.4.3; sys_platform == 'darwin' and platform_machine == 'arm64'
